html
	head
		title!= title
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600')

	body
		#page
			#header
				nav
					ul
						li
							a#logo.current(href="/")
								span PiBlog
						li
							a(title="Help" href="/help/") Help
			
			.content
				.container
					block content
				